rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /incidents/{fileName} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.size < 20 * 1024 * 1024
        && request.resource.contentType.matches('image/.*|video/.*');
      allow delete: if request.auth != null;
    }
  }
}
